# Architecture
BR2_arcle=y

# System
BR2_TARGET_GENERIC_HOSTNAME="arc700"
BR2_TARGET_GENERIC_ISSUE="Welcome to the ARC Software Development Platform"

# Linux headers same as kernel, a 5.6 series
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_6=y

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.6.3"
BR2_LINUX_KERNEL_DEFCONFIG="nsim_700"
BR2_LINUX_KERNEL_VMLINUX=y

# Rootfs
BR2_TARGET_ROOTFS_INITRAMFS=y
